<div>
  <img src='{{profile.results[0].picture.large}}'>

  <div>
    <B>Full name</B> - {{ profile.results[0].name.title }} {{ profile.results[0].name.first}} {{ profile.results[0].name.last}}

  </div>
  <div>
    <B>Gender</B> - {{ profile.results[0].gender}}
  </div>
  <div>
    <B>Location</B> - {{ profile.results[0].location.street }} {{ profile.results[0].location.city }} {{ profile.results[0].location.state}}

  </div>
  <div>
    <B>Email</B> - {{ profile.results[0].email}}
  </div>
  <div>
    <B>Phone Number</B> - {{ profile.results[0].phone}}
  </div>
  <div>
    <B>DOB</B> - {{ profile.results[0].dob}}
  </div>
</div>
